body {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    /* https://blog.prototypr.io/css-only-multi-color-backgrounds-4d96a5569a20 */
}

.center {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 50%;
    height: 30%;
    border: 3px solid green;
    padding: 10px;
}

#header {
    text-align: center;
    flex: 1;
}

#rank {
    text-align: center;
    color:#55384a;
    background-color: bisque;
    width: 100%;
    font-family:'Roboto';
    font-weight:300;
    font-size:3em;
    
}

/* General button style (reset) */
/* https://tympanus.net/Development/CreativeButtons/ */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
/*     width: 250px;
    margin: 0 auto; */  
}


.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 2 */
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2c */
.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

